.settings/*
.buildpath
.project
.*.sw*
*.log
*.pid
.DS_Store
.DS_Store?
ehthumbs.db
.sw*
Icon?
Thumbs.db
application/configs/environment.php
application/configs/environment.ini
.sass-cache/
*.py[co]
application/controllers/localTestController.php
applicatoin/views/scripts/local-test
